<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="text-left display-4">
                <mark style="color: white;background-color: #007fff;">WriterHelper系统</mark>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item col-md-3">
                        <a class="nav-link" data-toggle="pill" href="#db">库目</a>
                    </li>
                    <li class="nav-item col-md-3">
                        <a class="nav-link" data-toggle="pill" href="#spider">添加</a>
                    </li>
                    <li class="nav-item col-md-3">
                        <a class="nav-link" data-toggle="pill" href="#idioms-form">成语</a>
                    </li>
                    <li class="nav-item col-md-3">
                        <a class="nav-link active" data-toggle="pill" href="#haystack_form">句子</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="tab-content">
                    <div id="db" class="container-fluid tab-pane fade">
                        {% include "searchDir.html" %}
                    </div>
                    <div id="spider" class="container-fluid tab-pane fade">
                        {% include "searchBookList.html" %}
                    </div>
                    <div id="idioms-form" class="container-fluid tab-pane fade">
                        {% include "searchForm.html" %}
                    </div>
                    <div id="haystack_form" class="container-fluid tab-pane active">
                        {% include 'searchArctical.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div id="dir_show" class="col-md-10 offset-md-1"></div>
            </div>
            <div id="Add">
                <div class="row" id="table">
                    <div class="col-sm-8 offset-sm-2">
                        <table class="table">
                            <thead id="thead"></thead>
                            <tbody id="AddBooks"></tbody>
                        </table>
                    </div>
                </div>
                <div class="row" id="AddtoQueue" style="display: none">
                    <div class="col-sm-2 offset-sm-8">
                        <form id="queue">
                            {% csrf_token %}
                            <p><button class="btn btn-primary" type="button" id="crawler" >提交队列</button></p>
                        </form>
                    </div>
                </div>
                <div class="row" id="prog_showQueue" style="display: none"></div>
            </div>
            <div class="row">
                <div id="idioms" class="col-md-10 offset-md-1"></div>
            </div>
            <div class="row">
                <div id="haystack_novels" class="col-md-10 offset-md-1">
                    {% block hay_search %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
//    搜索本地书籍信息
    $('#search_dir').click(search_exist("#search_dir"));
    function search_exist(selector) {
        $(selector).click(function () {
            $.ajax({
                    url: "{% url 'search_dir' %}",
                    type: "POST",
                    data: $("#dir").serialize(),
                    success: function (info) {
                        $("#dir_show").html("").show();
                        $("#thead").hide();
                        $("#AddBooks").hide();
                        $("#idioms").hide();
                        $("#AddtoQueue").hide();
                        if (info.constructor === String) {
                            $("#dir_show").html(info);
                        }
                        else {
                            $.each(info, function (k, val) {
                                var div = $("<div></div>");
                                var a = $("<a></a>").attr("data-toggle", "collapse").html("+");
                                var tag = "collapse_" + k + "_" + val.length.toString();
                                div.append(a.attr("href", "#" + tag.toString()));
                                div.append("&thinsp;" + k);
                                var inner = $("<div></div>").addClass("collapse").attr("id", tag.toString());
                                for (var e = val.length - 1; e >= 0; e--) {
                                    inner.append("&nbsp;" + "&nbsp;" + "- " + val[e] + "<br>")
                                }
                                $("#dir_show").append(div);
                                $("#dir_show").append(inner);
                            });
                        }
                    }
                }
            )
        })
    }
</script>
<script type="text/javascript">
//    搜索在线书籍信息，并用进度条跟踪
    $("#crawlspider").click(function () {
        $.ajax({
            url: "{% url 'search_booklist' %}",
            type: "POST",
            data: $("#book").serialize(),
            success: function (book_info) {
                $("#dir_show").hide();
                $("#idioms").hide();
                $("#bookinfo").html("").show();
                $("#thead").html("").show();
                $("#bookinfo").append($('<div id="booklist"></div>'));
                $("<br><p style='font-size: 1.5rem;'><b>匹配结果</b></p><hr>").insertBefore("#booklist");
                $("#AddtoQueue").show();
                if (book_info.constructor === String) {
                    $("#booklist").html(book_info);
                }
                else {
                    $.each(book_info, function (x, y) {
                        var dl = $("<dl></dl>");
                        var dt = $("<dt></dt>").append(x);
                        var a = $("<a></a>").attr("data-toggle", "collapse").html("+");
                        var tag = "collapse_book_info_" + x.toString();
                        dt.prepend(a.attr("href", "#" + tag.toString()));
                        dl.append(dt);
                        for (var l = 0; l <= y.length - 1; l++) {
                            var current_book_info = y[l];
                            var href = current_book_info["href"];
                            var bookName = current_book_info["bookname"];
                            var update_time = current_book_info["update_time"];
                            var dd = $("<dd></dd>").append($("<a></a>").attr({
                                "href": href,
                                "title": "update:" + update_time
                            }).html("&nbsp;&nbsp;" + "-" + bookName));
                            dd.addClass("collapse").attr("id", tag.toString());
                            dd.append($('<a class="btn-primary" onclick="addToTable(this)" role="button" href="#">+</a>'));
                            dl.append(dd);
                        }
                        $("#booklist").append(dl);
                    });
                    $("#thead").append($("<tr><th>书籍信息</th><th>地址</th><th>删除</th></tr>"));
                }
            }
        })
    })
</script>
<script type="text/javascript">
    //  购物篮
    function addToTable(btn) {
        var author = $(btn).parent().siblings().eq(0).text().substring(1);
        var href = $(btn).siblings().eq(0).attr("href");
        var novel = $(btn).siblings().eq(0).text().substring(3);
        var html = $("<tr><td>" + author + "-" + novel + "</td>"
            + "<td>" + href + "</td>"
            + "<td>" + "<input type='button' onclick='deletElement(this)' value='-'/>"
            + "</td></tr>");
        $("#AddBooks").show();
        $("#AddBooks").append(html);
    }

    //  删除购物篮元素
    function deletElement(btn) {
        var authorInfo=$(btn).parent().siblings().eq(0).text();
        console.log(authorInfo);
        var sel="#progBar_"+authorInfo.toString();
        $(btn).parent().parent().remove();
        console.log(sel);
        if($(sel)) {
            $(sel).remove();
            $(sel).nextsibling("br").remove();
        }
    }

    // 提交队列
    $("#crawler").click(function () {
        var items = $("#AddBooks td");
        var arr_author = new Array();
        var arr_href = new Array();
        for (var i = 0; i <= items.length - 1; i++) {
            var k = items.eq(3 * i).html();
            var v = items.eq(1 + 3 * i).html();
            arr_author.push(k);
            arr_href.push(v);
        }
        $.ajax({
            url: "{% url 'search_duplicate_url' %}",
            type: "POST",
            dataType: 'json',
            data: {
                array: arr_href,
                "csrfmiddlewaretoken": $('[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
                console.log(data);
                $.each(data, function (url,status) {
                    $("#prog_showQueue").show();
                    console.log("-----");
                    if (status === "success") {
                        var ind=arr_href.indexOf(url);
                        if (ind >= 0){
                            var author_info = arr_author[ind];
                            var id = "progBar_" + author_info;
                            $("#prog_showQueue").append('<div class="col-sm-8 offset-sm-2" id=' + id + '>' +
                                                        '<div id="prog_out" class="progress progress-stripped active" >' +
                                                        '<div id="prog_in" class="progress-bar progress-bar-success" style="height:20px"></div>' +
                                                        '</div></div>'+'<br>'
                            );
                            progressBar(id, author_info, url);
                        }
                    }
                    else{
                        console.log(url + " is duplicate url!");
                    }
                });
            }
        });
    });

    //进度条
    function progressBar(id,author_info,url) {
        var interval=setInterval(
                function () {
                    $.ajax(
                        {
                            url: "{% url 'search_crawl_status' %}",
                            dataType: 'json',
                            data: {"url": url},
                            success: function (s) {
                                console.log(s);
                                $("#" + id.toString() + " #prog_in").width(s + "%");
                                $("#" + id.toString() + " #prog_in").html(author_info + ": " + s + "%-loading...");
                                if (s === 100) {
                                    clearInterval(interval);
                                    $("#" + id.toString() + " #prog_in").attr("class", "progress-bar progress-bar-success");
                                    $("#" + id.toString() + " #prog_in").html(author_info + ": 100%-completed...");
                                }
                            }
                        })
                }, 3000)
    }

</script>
<script type="text/javascript">
//    词条表单提交
    $("#submit").click(function () {
        $.ajax({
            url: "{% url 'search_idioms' %}",
            type: "POST",
            data: $("#post-form").serialize(),
            success: function (data) {
                $("#dir_show").hide();
                $("#thead").hide();
                $("#AddBooks").hide();
                $("#AddtoQueue").hide();
                $("#idioms").html("").show();
                $("br").remove();
                var idioms = data["idioms"];
                if (idioms.constructor === String) {
                    if (idioms) {
                        var dl = $("<dl></dl>").text(idioms);
                        $("#idioms").append(dl);
                    }
                }
                else {
                    $("#idioms").append("<div class='row'><h4><dl>成语结果集</dl></h4></div>");
                    var dl = $("<dl></dl>");
                    $.each(idioms, function (key, value) {
                        var dt = $("<dt></dt>").html(key);
                        var dd = $("<dd></dd>").html(value);
                        dl.append(dt);
                        dl.append(dd);
                    });
                    $("#idioms").append($("<div class='row'></div>").append(dl));
                    $("<br>").insertAfter("#idioms");
                }

            }
        })
    })
</script>

</html>