<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <style>
        span.highlighted {
            color: red;
        }
    </style>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="text-left display-4">
                <mark style="color: white;background-color: #007fff;">WriterHelper系统</mark>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="tab-content">
                    <div id="haystack_form" class="container-fluid tab-pane active">
                        {% include 'searchArctical.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div id="haystack_novels" class="col-md-10 offset-md-1">
                    {% block hay_search %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
//    词条表单提交
    $("#haystack-submit").click(function () {

//                if (novels.constructor === Array) {
//                    for (var i = novels.length - 1; i >= 0; i--) {
//                        $.each(novels[i], function (key, value) {
//                            var h4dl = $("<h4></h4>").append($("<dl></dl>").append("小说-" + key));
//                            $("#novels").append($("<div class='row'></div>").append(h4dl));
//                            var cls_row = $("<div class='row'></div>");
//                            var dl = $("<dl></dl>");
//                            $.each(value, function (k, v) {
//                                var x = Math.floor(Math.random() * 1000);
//                                for (var y = v.length - 1; y >= 0; y--) {
//                                    var dt = ($("<dt></dt>").text(k));
//                                    var m = "novels_li_" + x.toString() + "_" + y.toString();
//                                    var n = "novels_li_" + y.toString() + "_" + x.toString();
//                                    var dd = $("<dd></dd>").html(v[y]).addClass(m);
//                                    dl.append(dt);
//                                    dd.append(toggle(m, n));
//                                    dl.append(dd);
//                                    cls_row.append(dl);
//                                    var clipboard = new ClipboardJS("." + n.toString());
//                                    clipboard.on('error', function (e) {
//                                        console.log(e);
//                                    });
//                                }
//                            });
//                            $("#novels").append(cls_row);
//                            $("<br>").insertAfter("#novels");
//                        })
//                    }
//                }
//                else {
//                    var ul = $("<ul></ul>");
//                    $("#novels").append(ul.text(novels));
//                }
            }
        })
    })
</script>
<script>
    <!--触发复制按钮-->
    function toggle(m, n) {
        var btn = $("<button class='btn btn-primary'>复制</button>").attr("data-clipboard-target", "." + m.toString());
        return btn.on("click", function () {
            $(this).addClass(n);
        })
    }
</script>

</html>